bin/**
isodir/**
isodir
kernel/**
lib/**
**/*.o
**/*.d
**/*.a
**/*.so
linker/**
ports/**
ports
sysroot/**
sysroot
toolchain/**
clean.sh
build.sh
mkiso.sh
qemu.sh
LICENSE
README.md
seraph.iso
Dockerfile

!bin/include/**
!bin/Makefile
!bin/coreutils/make.config
!bin/test/make.config
!kernel/include/**
!kernel/Makefile
!kernel/arch/i386/make.config
!lib/include/**
!lib/Makefile
!linker/Makefile
!script/*
!headers.sh
!toolchain.sh
!toolchain/patches/*
